<a href="https://colab.research.google.com/github/JamesAnsley/Python-training-notes/blob/master/Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Fundamentals

This notebook will contain information and exercises designed to teach and reinforce the fundamentals of Python starting at square one

## Fundamental Data Types

This section will lay the foundation for the fundamental data types

### INT and FLOAT

INT or integer is a datatype of whole numbers

FLOAT or floating point number are numbers with decimals

In [ ]:
#Fundamental Data types
#INT and FLOAT
print("INT and FLOAT are useful for doing math")
print(6)
print(2+4)
print(2-4)
print(2*4)
print(2/4)

print("What type of data is shown?")


print(type(6))
print(type(2+4))
print(type(2-4))
print(type(2*4))
print(type(2/4))

print(2**3) #power of
print(5//4) #rounded down to integer
print(6%4) #modulo gives remainder

INT and FLOAT are useful for doing math
6
6
-2
8
0.5
What type of data is shown?
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>
8
1
2

####Math Functions

There are specific math actions (also called functions) INT and FLOAT can use.

`round()` rounds to the nearest number
`abs()` finds the absolute value

refer to the python documentation to see the whole list of all math functions

In [ ]:
print(round(3.1)) #rounds to nearest integer
print(round(5.9))
print(abs(-20)) #absolute value

3
6
20

#### Operator Precedence
Operations are resolved from left to right according to the operator precedence.. Lower precedence operators are never evaluated until all higher precedence ones are resolved
1. Parenthesis `()`
2. Exponents `**`
3. multiplication and division (division, rounded division, remainders) `*`, `/`, `//` and `%`
4. addition and subtraction `+` and `-`

In [ ]:
print(20 + 3 * 4)
print(20 - 3 ** 2 /9)
print(20-3*4)

32
19.0
8

### Complex and BIN

COMPLEX is a third data type. Only used when you need complex numbers (a+bi)

BIN() returns the bunary representation of a number (`0b` indicates following nimbers are in binary)

In [ ]:
print(bin(5))
print(int('0b101', 2))

0b101
5

### variables and CONSTANTS

Variables are ways for us to store information and recall it with a name.
Assigning a value is also called binding.

Variables are:
* snake_case : all lower case and spaces are `_`
* start lowercase or `_`
* use only letters, numbers, underscores
* case sensitive
* dont overwrite keywords

variable names should be descriptive.

Variables can also be reassigned to other variables.

`iq = 190` creates a variable named `iq` with a value of 190.

CONSTANTS are (usually) predefined. In the convention they are given all upper case names and should not be changed

In [ ]:
iq = 190
user_iq=190
_user_iq=190
us3r_1q=190
user_IQ=190

print(iq, user_iq, _user_iq, us3r_1q, user_IQ)

user_age=iq/4
a=user_age

print(user_age)
print(a)

PI=3.14
print(PI)
PI=0
print(PI)

190 190 190 190 190
47.5
47.5
3.14
0

### Expressions vs statements

Exprerssions are the sarts of the code which create a number
Statements are the lines of code

### Augmented assignment operator

Allows you to perform a operation on a variable with reassignment to that same variable

In [ ]:
some_value = 5
print("some_value is: " + str(some_value))
some_value = some_value+2
print("some_value = some_value + 2 is: " + str(some_value))
some_value = 5
print("some_value is: " +str(some_value))
some_value += 2
print("some_value += 2 is: " +str(some_value))

some_value is: 5
some_value = some_value + 2 is: 7
some_value is: 5
some_value += 2 is: 7

### STR
Strings are text.

String Concatenation is combining strings

Type conversion is the ability to change data types using a function

In [ ]:
print(type("hi hello there!!!"))
username = "supercoder"
password = 'supersecret'
long_string = '''
WOW
0 0
___
'''
print(long_string)

first_name = 'James'
last_name = 'Ansley'
fullname = first_name + last_name
print(fullname)  # notice there is no space lets fix that
fullname = first_name + ' ' + last_name
print(fullname)

<class 'str'>

WOW
0 0
___

JamesAnsley
James Ansley

In [ ]:
#What if we run `str()`
print(type(str(100)))
print(type(int(str(100))))

#while silly it is the

<class 'str'>
<class 'int'>

#### escape sequence

These are used to let the interpreter know that whatever comes after this is part of a string. `\` is the escape character

you can use:
* `\t` to tab
* `\n` to create a new line

In [ ]:
# to make python say `It's "kind of" sunny"
weather = "\t It\'s \"kind of\" sunny. \n Hope you have a good day!"

print(weather)

	 It's "kind of" sunny.
 Hope you have a good day!

#### Formatted strings

Using `print(f.'strings {variable} string string {variabe}')` will allow you to pull variables into strings automagically

In [ ]:
#formatted strings allow you to dynamically update strings

name = 'Johnny'
print("Hi " + name)

age = 55
#print('Hi ' + name + ". You are " + age + ' years old') will give type error on age
# Use formatted strings to get around that
print(f'hi {name}. You are {age} years old')

Hi Johnny
hi Johnny. You are 55 years old

Formatted string exercise here: https://repl.it/@aneagoie/string-formatting#main.py

In [ ]:
# 1 What would be the output of the below 4 print statements? 
#Try to answer these before you click RUN!

print("Hello {}, your balance is {}.".format("Cindy", 50))
#Hello Cindy, your balance is 50
print("Hello {0}, your balance is {1}.".format("Cindy", 50))
#Hello Cindy, your balance is 50
print("Hello {name}, your balance is {amount}.".format(name="Cindy", amount=50))
#Hello Cindy, your balance is 50
print("Hello {0}, your balance is {amount}.".format("Cindy", amount=50))
#Hello Cindy, your balance is 50


# 2 How would you write this using f-string? (Scroll down for answer)
name = 'Cindy'
amount = 50
print(f'Hello {name}, your balance is {amount}.')

Hello Cindy, your balance is 50.
Hello Cindy, your balance is 50.
Hello Cindy, your balance is 50.
Hello Cindy, your balance is 50.
Hello Cindy, your balance is 50.

#### String indexes
Strings are stored and indexed from [0]
You can slice a string using `[start:stop:stepover]`
  stepover is defaulted to one

Strings are immutable. You can not change an indexed part of the string. The only way to change a string is to wholly reassign the variable.

In [ ]:
selfish = '01234567'
          #01234567
print(selfish)
print(selfish[6])

#start/stop
print(selfish[0:6])

#stepover
print(selfish[1:])
print(selfish[:5])
print(selfish[-1::]) # start at end of string
print(selfish[::-1]) # reverse the string

01234567
6
012345
1234567
01234
7
76543210

String indexes exercise here: https://repl.it/@aneagoie/string-indexes#main.py

In [ ]:
#Guess the output of each print statement before you click RUN!
python = 'I am PYHTON'

print(python[1:4])
#print(" am ")
print(python[1:])
#print(' am PYHTON')
print(python[:])
#print('I am PYHTON')
print(python[1:100])
#print(' am PYHTON')
print(python[-1])
#print("N")
print(python[-4])
#print("H")
print(python[:-3])
#print('I am PYH')
print(python[-3:])
#print('TON')
print(python[::-1])
#print('NOTHYP MA I')

 am
 am PYHTON
I am PYHTON
 am PYHTON
N
H
I am PYH
TON
NOTHYP ma I

#### Built in functions and methods

There are built in functions for Strings

`len()` is quite usefull as it counts, like a human does, the length of the string

There are also methods which can be used:
* `.f` is a useful method for formatting everything for a sting
* `.upper()` is used to create all uppercase
* `.capitalize` capitalizes the first letter
* `.find()` finds the index of the first occurance you are looking for
* `.replace(old, new)` replaces all the occurances of old with new

remember that strings are immutable. the methods will not replace the string unless it is assigned to a variable

In [ ]:
greet = 'hellllooo'
print(len(greet))
print(greet[0:len(greet)])


#methods
quote = 'to be or not to be'
print(quote.upper())
print(quote.capitalize())
print(quote.find('be'))
print(quote.replace('be', 'me'))
print(quote)

9
hellllooo
TO BE OR NOT TO BE
To be or not to be
3
to me or not to me
to be or not to be

### bool

booleans can be either `True` or `False` (`1` or `0`)
They are useful for logical operations

In [ ]:
name = "James"
is_cool = False

is_cool = True

print(bool(0))
print(bool(1))
print(bool(2))

False
True
True

Exercise: type conversion

In [ ]:
#how does a SM work?
name = 'James'
age = 30
relationship_status = 'single'
print(relationship_status)
#but james gets in a complicated thing
relationship_status = 'It\'s complicated'
print(relationship_status)

#CALCULATE AGE BY ASKING FOR BIRTH YEAR

birth_year = input('what year were you born?')
age = 2020 - int(birth_year)
print(f"You're age is {age}")

### PASSWORD CHECKER EXERCISE

We are goign to build a password checker that asks for a username and password and responds with the password length, hiding the password using stars.

In [ ]:
username = input('What is your username: ')
password = input('What is your password: ')
hidden_password = '*' * len(password)
password_length = len(password)


print(f'Hello {username}, your password {hidden_password} is {password_length} characters long')

### Lists

Lists are denoted by square brackets `[]`

Lists are a datastructure which uses arrays to store lists of independent values. Lists can hold a mix of data types

Because lists are indexed you can see

In [ ]:
li = [1,2,3,4,5]
li2 = ['a', 'b', 'c', 'd', 'e']
li3 = [1,2,'a',True]

amazon_cart = ['notebooks', 'sunglasses']
print(amazon_cart[0])
print(amazon_cart[1])

List Slicing

In [ ]:
amazon_cart = ["notebooks",
               "sun glasses",
               "toys",
               "grapes"]
print(amazon_cart[0:2])
amazon_cart[0] = "laptop"
print(amazon_cart)
print(amazon_cart[1:3])
print(amazon_cart) #list splicing is temporary unless assigned to a new list
new_cart = amazon_cart #modifys the list
new_cart[0] = 'gum' 
print(new_cart)
print(amazon_cart) #why did the amazon cart get changed? Because new cart = amazon cart we are saying "new cart is whatever amazon_cart is" if we change new cart then amazon cart also changes!

amazon_cart[0] = 'laptop'
new_cart = amazon_cart[:] #this actually copies the list
new_cart[0] = "gum"
print( amazon_cart)
print(new_cart)

List exercise from https://repl.it/@aneagoie/lists

In [ ]:
#What is the output of this code?
#Before you clikc RUN, guess the output of each print statement!
new_list = ['a', 'b', 'c']
print(new_list[1]) #'b'
print(new_list[-2]) #'b'
print(new_list[1:3])#bc
new_list[0] = 'z'
print(new_list) #z,b,c

my_list = [1,2,3]
bonus = my_list + [5]
my_list[0] = 'z'
print(my_list) #z23
print(bonus) #z235

#### Matrix

Simply put a matrix is an array of array
`[[]]`

for example photos are often multiple dimensional arrays. Each pixel is an array with multiple variables, at least one for each color.

In [ ]:
matrix = [
          [1,2,3],
          [4,5,6],
          [7,8,9]
]

print(matrix[0][1])
    #acces the first item/array, then access the second item of that first array

Matrix ecercise

In [ ]:
# using this list: 
basket = ["Banana", ["Apples", ["Oranges"], "Blueberries"]];
# access "Oranges" and print it:
# You will find the answer if you scroll down to the bottom, but attempt it yourself first!

print(basket[1][1][0])

#### Built in methods

remember that you can use built in functions using `.function()`

In [ ]:
basket = [1,2,3,4,5]
new_list = []
#adding
new_list = basket.append(100)
print(basket)
print(new_list) # seems backwards, but .append only works inplace
# to actually add 100 to the end of new list we need to:

basket = [1,2,3,4,5]
new_list = []
basket.append(100)
new_list=basket
print(basket)
print(new_list)

basket = [1,2,3,4,5]
new_list = []
basket.insert(4,100)
new_list=basket
print(basket)
print(new_list)

basket = [1,2,3,4,5]
new_list = []
new_list=basket.extend([100,101])
print(basket)
print(new_list)

#removing
basket.pop()
print(basket)
basket.pop(0)
print(basket)

basket = [1,2,3,4,5]
basket.remove(4) #remove works in place
new_list
print(basket)
print(new_list)

Exercise: list methods

From: https://repl.it/@aneagoie/lists-2#main.py

In [ ]:
# using this list, 
basket = ["Banana", "Apples", "Oranges", "Blueberries"];

# 1. Remove the Banana from the list
basket.remove("Banana")
# 2. Remove "Blueberries" from the list.
basket.pop()
# 3. Put "Kiwi" at the end of the list.
basket.append("Kiwi")
# 4. Add "Apples" at the beginning of the list
basket.insert(0,"Apples")
# 5. Count how many apples in the basket
basket.count("Apples")
# 6. empty the basket
basket.clear()
print(basket)

In [ ]:
basket = ['a', 'x', 'b', 'c', 'd', 'e', 'd']
print(basket.count('d')) #counts all the occurences of whatever you fill in
basket.sort() #sorts the list in place
print(basket)
basket = ['a', 'x', 'b', 'c', 'd', 'e', 'd']
print(sorted(basket)) #creates new copy of basket and sorts that in place
print(basket)
basket = ['a', 'x', 'b', 'c', 'd', 'e', 'd']
new_basket = basket.copy()
new_basket.sort()
print(new_basket)
print(basket)
basket = ['a', 'x', 'b', 'c', 'd', 'e', 'd']
basket.sort()
basket.reverse()
print(basket)

Excercise: Lists 3
from: https://repl.it/@aneagoie/lists-3#main.py

In [ ]:
#fix this code so that it prints a sorted list of all of our friends (alphabetical). Scroll to see answer
friends = ['Simon', 'Patty', 'Joy', 'Carrie', 'Amira', 'Chu']
new_friend = ['Stanley']
#print(friends.sort() + new_friend) original code

print(sorted(friends + new_friend)) #fixed

In [ ]:
basket = ['a', 'x', 'b', 'c', 'd', 'e', 'd']
basket.sort() #sorted baket a->z
basket.reverse() #reverses z->a
print(basket[::-1]) #prints normal with list slicing
print(basket)

print("range")
basket = ['a', 'x', 'b', 'c', 'd', 'e', 'd']
basket.sort() #sorted baket a->z
basket.reverse() #reverses z->a
print(range(1,100))
print(list(range(1,100)))
print(list(range(100)))

print("join")
sentence="!"
sentence.join(['hi', 'my', 'name', 'is', 'JoJo'])
print(sentence)
new_sentence = sentence.join(['hi', 'my', 'name', 'is', 'JoJo']) #join uses whatever it modifies to fit between the list items
print(new_sentence)
final_sentence = ' '.join(['hi', 'my', 'name', 'is', 'JoJo'])
print(final_sentence)

#### List unpacking

In [ ]:
a, b, c =[1,2,3]
print(a)
print(b)
print(c)

a, b, c, *other, d =[1,2,3,4,5,6,7,8,9]
print(a)
print(b)
print(c)
print(other)
print(d)

### None

None is a special data type which represents the absense of value

In [ ]:
#imagine a video game
weapons = None
print(weapons)

### DICT
A dictionary is a data type and a data structure using the form `key: value` which is unordered in memory. This is unlike lists, which are ordered in memory

In [ ]:
dictionary = {
    'a': [1,2,3],
    'b': "Hello",
    'x': True,
    'z': 555
}

print(dictionary['a'])
print(dictionary)

my_list = [{
    'a': [1,2,3],
    'b': "Hello",
    'x': True,
    'z': 5550
},
{
    'a': [4,5,6],
    'b': "goodbye",
    'x': False,
    'z': 666
}]

print(my_list)

In [ ]:
#Dictionary keys must be immutable. They must also be unique. repreated keys will be overwriten
dictionary = {
    123: [1,2,3],
    True: "Hello",
    'is_magic': True,
    'gold': 555,
    'gold': 666
}

print(dictionary[123])
print(dictionary[True])
print(dictionary['gold'])

In [ ]:
#dictionary methods
user = {
    'basket': [1,2,3],
    'greet': "hello"
}

#print(user['age']) will not work because 'age' does not exist in dictioary
print(user.get('age')) #will work because .get sees if it exists
print(user.get('age',55)) #incase 'age' doesnt exits use 55
user2 = dict(name="JohnJohn")
print(user2)

In [ ]:
#Dictionary methods 2
user = {
    'basket': [1,2,3],
    'greet': "hello",
    'age': 20
}

print('basket' in user)
print("size" in user)

print('age' in user.keys())
print('hello' in user.values())
print(user.items())

user2=user.copy()


print(user.update({'age':55}))
print(user)

print(user.pop('age'))
print(user)

print(user.popitem())
print(user) #randomly pops an item off (from the end of the dict but dicts can be out of entered order)


print(user.clear())
user.clear()
print(user)
print(user2)

Exercise: Dictionaries
from: https://repl.it/@aneagoie/dictionary#main.py

In [ ]:
#1 Create a user profile for your new game. This user profile will be stored in a dictionary with keys: 'age', 'username', 'weapons', 'is_active' and 'clan'
user = {
    'age': 30,
    'username': 'fragathor',
    'weapons': ["pistol", "rifle"],
    "is_active": True,
    "clan": "Fragging Perfect"
}
#2 iterate and print all the keys in the above user.
print(user.keys())

#3 Add a new weapon to your user
user['weapons'].append('Katana')
print(user['weapons'])
#4 Add a new key to include 'is_banned'. Set it to false
user.update({'is_banned':False})
print(user)
#5 Ban the user by setting the previous key to True
user.update({'is_banned':True})
print(f"user is banned: {user['is_banned']}")
#6 create a new user2 my copying the previous user and update the age value and username value. 
user2 = user.copy()
user2.update({
    'age':22,
    "username":"Fragzilla"
})

print(user)
print(user2)

### Tuple

Tuples are immutable lists.
It makes code safer, because it can't be changed. But its also less versitile.
Use it when you need a list that can't be changed, such as pickup location (just create new tuple for new pickup)



*note* `key, value` in a dictionary is a tuple pair

In [ ]:
my_tuple = (1,2,3,4,5)
#my_tuple[1] = 'z' would error out because tupples cant be changed
print(my_tuple[1])
print(5 in my_tuple)

In [ ]:
my_tuple = (1,2,3,4,5,5)
new_tuple = my_tuple[1:4]
print(new_tuple)

x = my_tuple[0]
y = my_tuple[1]
print(x,y)

x, y, z, *other = (1,2,3,4,5)
print(other)

#tuples have only really important methods
#count
print(my_tuple.count(2))
#index
print(my_tuple.index(5))

len(my_tuple)

### Set
Sets: unorder collections of unique objects

In [ ]:
my_set = {1,2,3,4,5,5}
print(my_set) #only returns unique values
my_set.add(100)
my_set.add(2)
print(my_set)

#How would you convert the following into a uniquue list
my_list = [1,2,3,4,5,5]
#answer
my_set = set(my_list)
print(my_set)

my_set = {1,2,3,4,5,5}
#print(my_set[0]) will error. Must reference item not index
print(1 in my_set)
print(len(my_set))

print(list(my_set))

my_set = {1,2,3,4,5,5}
new_set = my_set.copy()
my_set.clear()
print(list(new_set))
print(new_set)
print(my_set)

In [ ]:
#Set Methods
my_set = {1,2,3,4,5}
your_set = {4,5,6,7,8,9,10}

# .difference() #tells you the difference
print(f'difference: {my_set.difference(your_set)}')
# .discard()
print(f'discard: {my_set.discard(5)}')
print(my_set)

my_set = {1,2,3,4,5} #refreshes my_set

# .difference_update() removes the common items from the set
print(f'difference_update: {my_set.difference_update(your_set)}')
print(my_set)
my_set = {1,2,3,4,5}

# .intersection()
print(f'intersection: {my_set.intersection(your_set)}')

# .isdisjoint() #Are the two sets disjointed ie no overlaps
print(f'isdisjoint: {my_set.isdisjoint(your_set)}')

# .union()
print(f'union: {my_set.union(your_set)}')
print(my_set | your_set)
print(f'myset: {my_set}')
# .issubset()
my_set = {4,5}
print(f'my_set: {my_set}')
print(f'your set {your_set}')
print(f'issubset: {my_set.issubset(your_set)}')

# .issuperset()
print(f'superset: {your_set.issuperset(my_set)}')

Exercise: Sets
https://repl.it/@aneagoie/sets#main.py

In [ ]:
#Scroll to bottom to see solution
# You are working for the school Principal. We have a database of school students:
school = {'Bobby','Tammy','Jammy','Sally','Danny'}

#during class, the teachers take attendance and compile it into a list. 
attendance_list = ['Jammy', 'Bobby', 'Danny', 'Sally']

#using what you learned about sets, create a piece of code that the school principal can use to immediately find out who missed class so they can call the parents. (Imagine if the list had 1000s of students. The principal can use the lists generated by the teachers + the school database to use python and make his/her job easier): Find the students that miss class!

print(f'The following student or students are absent {school.difference(attendance_list)}')

## Conditional Logic

conditional logic allows us to check if a condition is met, do something, otherwise, something else

Make sure you pay attention to spacing and indentation

In [ ]:
is_old = False
is_licenced = False

if is_old: #if is_old true?
  print('You are old enough to drive') #if true do this otherwise skip
elif is_licenced:
  print("how do you have a license")
else:
  print('You are not old. Grow some') #only runs of the if evaluates false

print('check check') #runs regardless because not part of if/else


#a better way for this program
if is_old and is_licenced:
  print("you are old enough to drive and licensed. have fun")
else:
  print('you can\'t drive')

### Truthy and Falsey

for conditional statements:
Truthy values are those for which `bool(value)` returns `True`
Falsey values are thos for which `bool(value)` returns `False`

In [ ]:
is_old = 'hello'
is_licenced = 5

if is_old and is_licenced:
  print("you are old enough to drive and licensed. have fun")
else:
  print('you can\'t drive')

  password = '123'
  username = 'johnny'

  if password and username:
    #try to log in code.......
    pass

###Ternary operator
Also called condtional expressions

condition_if_true if condition else condition_if_false

In [ ]:
is_friend = True

can_message = "Message allowed" if is_friend else "not allowed to message"
print(can_message)

### Short Circuiting

When a condition fails or is met python stops evaluating the rest. Useful for optimizing efficiency.

In [ ]:
is_friend = True
is_user = True

print(is_friend and is_user)

if is_friend or is_user: #if either is true
  print('BFFs')

###Logical Operators

In [ ]:
#greater than
print(4>5)
print(4<5)
print(4==5) # == not = because a single means "assign"

print('a' > 'b')
print('a' > 'A')
# Why are these true? Because ASCII values!

print(1 < 2 < 3 < 4)
print(1<2>3<4) #will false and short circut

print(1>=0) #greater or equal
print(1<=0) #less or equal
print(0 != 0) #not equal

print(not True) #not returns opposite

Exercise: logical operators

In [ ]:
is_magician = 0
is_expert = 1

#check if magician AND expert: you are master magician

# if magician but not expert: "youre getting there"

#if not magician: "get some magic"

if is_magician and is_expert:
  print("You are a master magician")
elif is_magician:
  print("at least you are getting there")
else:
  print("you need magic powers")

#### is vs   ==

== checks the equality in values
is checks if the location in memory is the same. `is` is far stricter

look at the code below and guess the outcomes

In [ ]:
print(True == 1)
print('' == 1)
print([] == 1)
print(10 == 10.0)
print([1,2,3] == [1,2,3])
print('is')
print(True is 1)
print('1' is '1')
print([] is [])
print(10 is 10.0)
print([1,2,3] is []) #every list is stored somewhere in memory