<a href="https://colab.research.google.com/github/JamesAnsley/Python-training-notes/blob/master/Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Fundamentals

This notebook will contain information and exercises designed to teach and reinforce the fundamentals of Python starting at square one

## Fundamental Data Types

This section will lay the foundation for the fundamental data types

### INT and FLOAT

INT or integer is a datatype of whole numbers

FLOAT or floating point number are numbers with decimals

In [ ]:
#Fundamental Data types
#INT and FLOAT
print("INT and FLOAT are useful for doing math")
print(6)
print(2+4)
print(2-4)
print(2*4)
print(2/4)

print("What type of data is shown?")


print(type(6))
print(type(2+4))
print(type(2-4))
print(type(2*4))
print(type(2/4))

print(2**3) #power of
print(5//4) #rounded down to integer
print(6%4) #modulo gives remainder

####Math Functions

There are specific math actions (also called functions) INT and FLOAT can use.

`round()` rounds to the nearest number
`abs()` finds the absolute value

refer to the python documentation to see the whole list of all math functions

In [ ]:
print(round(3.1)) #rounds to nearest integer
print(round(5.9))
print(abs(-20)) #absolute value

3
6
20

#### Operator Precedence
Operations are resolved from left to right according to the operator precedence.. Lower precedence operators are never evaluated until all higher precedence ones are resolved
1. Parenthesis `()`
2. Exponents `**`
3. multiplication and division (division, rounded division, remainders) `*`, `/`, `//` and `%`
4. addition and subtraction `+` and `-`

In [ ]:
print(20 + 3 * 4)
print(20 - 3 ** 2 /9)
print(20-3*4)

32
19.0
8

### Complex and BIN

COMPLEX is a third data type. Only used when you need complex numbers (a+bi)

BIN() returns the bunary representation of a number (`0b` indicates following nimbers are in binary)

In [ ]:
print(bin(5))
print(int('0b101', 2))

0b101
5

### variables and CONSTANTS

Variables are ways for us to store information and recall it with a name.
Assigning a value is also called binding.

Variables are:
* snake_case : all lower case and spaces are `_`
* start lowercase or `_`
* use only letters, numbers, underscores
* case sensitive
* dont overwrite keywords

variable names should be descriptive.

Variables can also be reassigned to other variables.

`iq = 190` creates a variable named `iq` with a value of 190.

CONSTANTS are (usually) predefined. In the convention they are given all upper case names and should not be changed

In [ ]:
iq = 190
user_iq=190
_user_iq=190
us3r_1q=190
user_IQ=190

print(iq, user_iq, _user_iq, us3r_1q, user_IQ)

user_age=iq/4
a=user_age

print(user_age)
print(a)

PI=3.14
print(PI)
PI=0
print(PI)

190 190 190 190 190
47.5
47.5
3.14
0

### Expressions vs statements

Exprerssions are the sarts of the code which create a number
Statements are the lines of code

### Augmented assignment operator

Allows you to perform a operation on a variable with reassignment to that same variable

In [ ]:
some_value = 5
print("some_value is: " + str(some_value))
some_value = some_value+2
print("some_value = some_value + 2 is: " + str(some_value))
some_value = 5
print("some_value is: " +str(some_value))
some_value += 2
print("some_value += 2 is: " +str(some_value))

some_value is: 5
some_value = some_value + 2 is: 7
some_value is: 5
some_value += 2 is: 7

### STR
Strings are text.

String Concatenation is combining strings

Type conversion is the ability to change data types using a function

In [ ]:
print(type("hi hello there!!!"))
username = "supercoder"
password = 'supersecret'
long_string = '''
WOW
0 0
___
'''
print(long_string)

first_name = 'James'
last_name = 'Ansley'
fullname = first_name + last_name
print(fullname)  # notice there is no space lets fix that
fullname = first_name + ' ' + last_name
print(fullname)

<class 'str'>

WOW
0 0
___

JamesAnsley
James Ansley

In [ ]:
#What if we run `str()`
print(type(str(100)))
print(type(int(str(100))))

#while silly it is the

<class 'str'>
<class 'int'>

#### escape sequence

These are used to let the interpreter know that whatever comes after this is part of a string. `\` is the escape character

you can use:
* `\t` to tab
* `\n` to create a new line

In [ ]:
# to make python say `It's "kind of" sunny"
weather = "\t It\'s \"kind of\" sunny. \n Hope you have a good day!"

print(weather)

	 It's "kind of" sunny.
 Hope you have a good day!

#### Formatted strings

Using `print(f.'strings {variable} string string {variabe}')` will allow you to pull variables into strings automagically

In [ ]:
#formatted strings allow you to dynamically update strings

name = 'Johnny'
print("Hi " + name)

age = 55
#print('Hi ' + name + ". You are " + age + ' years old') will give type error on age
# Use formatted strings to get around that
print(f'hi {name}. You are {age} years old')

Hi Johnny
hi Johnny. You are 55 years old

Formatted string exercise here: https://repl.it/@aneagoie/string-formatting#main.py

In [ ]:
# 1 What would be the output of the below 4 print statements? 
#Try to answer these before you click RUN!

print("Hello {}, your balance is {}.".format("Cindy", 50))
#Hello Cindy, your balance is 50
print("Hello {0}, your balance is {1}.".format("Cindy", 50))
#Hello Cindy, your balance is 50
print("Hello {name}, your balance is {amount}.".format(name="Cindy", amount=50))
#Hello Cindy, your balance is 50
print("Hello {0}, your balance is {amount}.".format("Cindy", amount=50))
#Hello Cindy, your balance is 50


# 2 How would you write this using f-string? (Scroll down for answer)
name = 'Cindy'
amount = 50
print(f'Hello {name}, your balance is {amount}.')

Hello Cindy, your balance is 50.
Hello Cindy, your balance is 50.
Hello Cindy, your balance is 50.
Hello Cindy, your balance is 50.
Hello Cindy, your balance is 50.

#### String indexes
Strings are stored and indexed from [0]
You can slice a string using `[start:stop:stepover]`
  stepover is defaulted to one

Strings are immutable. You can not change an indexed part of the string. The only way to change a string is to wholly reassign the variable.

In [ ]:
selfish = '01234567'
          #01234567
print(selfish)
print(selfish[6])

#start/stop
print(selfish[0:6])

#stepover
print(selfish[1:])
print(selfish[:5])
print(selfish[-1::]) # start at end of string
print(selfish[::-1]) # reverse the string

01234567
6
012345
1234567
01234
7
76543210

String indexes exercise here: https://repl.it/@aneagoie/string-indexes#main.py

In [ ]:
#Guess the output of each print statement before you click RUN!
python = 'I am PYHTON'

print(python[1:4])
#print(" am ")
print(python[1:])
#print(' am PYHTON')
print(python[:])
#print('I am PYHTON')
print(python[1:100])
#print(' am PYHTON')
print(python[-1])
#print("N")
print(python[-4])
#print("H")
print(python[:-3])
#print('I am PYH')
print(python[-3:])
#print('TON')
print(python[::-1])
#print('NOTHYP MA I')

 am
 am PYHTON
I am PYHTON
 am PYHTON
N
H
I am PYH
TON
NOTHYP ma I

#### Built in functions and methods

There are built in functions for Strings

`len()` is quite usefull as it counts, like a human does, the length of the string

There are also methods which can be used:
* `.f` is a useful method for formatting everything for a sting
* `.upper()` is used to create all uppercase
* `.capitalize` capitalizes the first letter
* `.find()` finds the index of the first occurance you are looking for
* `.replace(old, new)` replaces all the occurances of old with new

remember that strings are immutable. the methods will not replace the string unless it is assigned to a variable

In [ ]:
greet = 'hellllooo'
print(len(greet))
print(greet[0:len(greet)])


#methods
quote = 'to be or not to be'
print(quote.upper())
print(quote.capitalize())
print(quote.find('be'))
print(quote.replace('be', 'me'))
print(quote)

9
hellllooo
TO BE OR NOT TO BE
To be or not to be
3
to me or not to me
to be or not to be

### bool

booleans can be either `True` or `False` (`1` or `0`)
They are useful for logical operations

In [ ]:
name = "James"
is_cool = False

is_cool = True

print(bool(0))
print(bool(1))
print(bool(2))

False
True
True

Exercise: type conversion

In [ ]:
#how does a SM work?
name = 'James'
age = 30
relationship_status = 'single'
print(relationship_status)
#but james gets in a complicated thing
relationship_status = 'It\'s complicated'
print(relationship_status)

#CALCULATE AGE BY ASKING FOR BIRTH YEAR

birth_year = input('what year were you born?')
age = 2020 - int(birth_year)
print(f"You're age is {age}")

single
It's complicated
what year were you born?1989
You're age is 31

### PASSWORD CHECKER EXERCISE

We are goign to build a password checker that asks for a username and password and responds with the password length, hiding the password using stars.

In [ ]:
username = input('What is your username: ')
password = input('What is your password: ')
hidden_password = '*' * len(password)
password_length = len(password)


print(f'Hello {username}, your password {hidden_password} is {password_length} characters long')

What is your username: hjlkbk,
What is your password: sjdbflasbjdflk,absjdklf
Hello hjlkbk,, your password *********************** is 23 characters long

### Lists

Lists are denoted by square brackets `[]`

Lists are a datastructure which uses arrays to store lists of independent values. Lists can hold a mix of data types

Because lists are indexed you can see

In [ ]:
li = [1,2,3,4,5]
li2 = ['a', 'b', 'c', 'd', 'e']
li3 = [1,2,'a',True]

amazon_cart = ['notebooks', 'sunglasses']
print(amazon_cart[0])
print(amazon_cart[1])

notebooks
sunglasses

List Slicing

In [ ]:
amazon_cart = ["notebooks",
               "sun glasses",
               "toys",
               "grapes"]
print(amazon_cart[0:2])
amazon_cart[0] = "laptop"
print(amazon_cart)
print(amazon_cart[1:3])
print(amazon_cart) #list splicing is temporary unless assigned to a new list
new_cart = amazon_cart #modifys the list
new_cart[0] = 'gum' 
print(new_cart)
print(amazon_cart) #why did the amazon cart get changed? Because new cart = amazon cart we are saying "new cart is whatever amazon_cart is" if we change new cart then amazon cart also changes!

amazon_cart[0] = 'laptop'
new_cart = amazon_cart[:] #this actually copies the list
new_cart[0] = "gum"
print( amazon_cart)
print(new_cart)

['notebooks', 'sun glasses']
['laptop', 'sun glasses', 'toys', 'grapes']
['sun glasses', 'toys']
['laptop', 'sun glasses', 'toys', 'grapes']
['gum', 'sun glasses', 'toys', 'grapes']
['gum', 'sun glasses', 'toys', 'grapes']
['laptop', 'sun glasses', 'toys', 'grapes']
['gum', 'sun glasses', 'toys', 'grapes']

#### List exercise from https://repl.it/@aneagoie/lists

In [ ]:
#What is the output of this code?
#Before you clikc RUN, guess the output of each print statement!
new_list = ['a', 'b', 'c']
print(new_list[1]) #'b'
print(new_list[-2]) #'b'
print(new_list[1:3])#bc
new_list[0] = 'z'
print(new_list) #z,b,c

my_list = [1,2,3]
bonus = my_list + [5]
my_list[0] = 'z'
print(my_list) #z23
print(bonus) #z235

b
b
['b', 'c']
['z', 'b', 'c']
['z', 2, 3]
[1, 2, 3, 5]

#### Matrix

Simply put a matrix is an array of array
`[[]]`

for example photos are often multiple dimensional arrays. Each pixel is an array with multiple variables, at least one for each color.

In [ ]:
matrix = [
          [1,2,3],
          [4,5,6],
          [7,8,9]
]

print(matrix[0][1])
    #acces the first item/array, then access the second item of that first array

2

Matrix ecercise

In [ ]:
# using this list: 
basket = ["Banana", ["Apples", ["Oranges"], "Blueberries"]];
# access "Oranges" and print it:
# You will find the answer if you scroll down to the bottom, but attempt it yourself first!

print(basket[1][1][0])

Oranges

#### Built in methods

remember that you can use built in functions using `.function()`

In [ ]:
basket = [1,2,3,4,5]
new_list = []
#adding
new_list = basket.append(100)
print(basket)
print(new_list) # seems backwards, but .append only works inplace
# to actually add 100 to the end of new list we need to:

basket = [1,2,3,4,5]
new_list = []
basket.append(100)
new_list=basket
print(basket)
print(new_list)

basket = [1,2,3,4,5]
new_list = []
basket.insert(4,100)
new_list=basket
print(basket)
print(new_list)

basket = [1,2,3,4,5]
new_list = []
new_list=basket.extend([100,101])
print(basket)
print(new_list)

#removing
basket.pop()
print(basket)
basket.pop(0)
print(basket)

basket = [1,2,3,4,5]
basket.remove(4) #remove works in place
new_list
print(basket)
print(new_list)

[1, 2, 3, 4, 5, 100]
None
[1, 2, 3, 4, 5, 100]
[1, 2, 3, 4, 5, 100]
[1, 2, 3, 4, 100, 5]
[1, 2, 3, 4, 100, 5]
[1, 2, 3, 4, 5, 100, 101]
None
[1, 2, 3, 4, 5, 100]
[2, 3, 4, 5, 100]
[1, 2, 3, 5]
None